:root {
  --bg-color: rgb(2, 6, 24);

  --text-color: whitesmoke;

  --font-family: monospace;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;

  --space-xs: 12px;
  --space-sm: 14px;
  --space-md: 16px;
  --space-lg: 20px;
  --space-xl: 24px;

  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;

  --container-max-width: 512px;
  --container-border: 2px solid whitesmoke;

  --stats-bg-color: black;
  --stats-border: var(--container-border);

  --board-bg-color: whitesmoke;

  --cell-bg-color: rgb(255, 140, 0);
  --cell-hover-bg-color: rgb(230, 117, 0);
  --cell-revealed-bg-color: rgb(255, 198, 128);

  --modal-overlay-bg-color: rgba(2, 6, 24, 0.5);
  --modal-message-text-color: whitesmoke;
  --modal-button-play-again-bg-color: whitesmoke;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-xs);
}

.container {
  max-width: var(--container-max-width);
  width: 100%;
  height: fit-content;
  border: var(--container-border);
}

/* Game Stats */
.game-stats {
  padding: var(--space-xs);
  background-color: var(--stats-bg-color);
  border-bottom: var(--stats-border);

  .game-stats__item {
    font-size: clamp(var(--font-size-md), 2vw, var(--font-size-lg));
  }
}

/* Game Board */
.game-board {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--board-bg-color);

  .game-board__row {
    flex-grow: 1;
    display: flex;
    gap: 2px;
  }

  .game-board__cell {
    flex-grow: 1;
    background-color: var(--cell-bg-color);
    color: var(--cell-text-color);
    font-size: var(--font-size-lg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game-board__cell--revealed {
    background-color: var(--cell-revealed-bg-color);
  }
}

/* Modal */
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--modal-overlay-bg-color);
  display: none;
  justify-content: center;
  align-items: center;
  padding: var(--space-xs);
}

.modal-overlay--visible {
  display: flex;
}

.modal {
  text-align: center;

  .modal__message {
    color: var(--modal-message-text-color);
    font-size: clamp(var(--font-size-xl), 5vw, calc(var(--font-size-xl) * 2));
    margin-bottom: var(--space-xs);
    text-shadow: 3px 3px 0 black;
  }

  .modal__btn--play-again {
    font-family: inherit;
    font-size: clamp(var(--font-size-md), 2vw, var(--font-size-lg));
    font-weight: 600;
    padding: 0.6em 0.8em;
    border: none;
    border-radius: var(--border-radius-xs);
    background-color: var(--modal-button-play-again-bg-color);
    box-shadow: 5px 5px 0 black;
    transition: transform 25ms ease, box-shadow 25ms ease;
  }

  .modal__btn--play-again:active {
    transform: translate(0.25em, 0.25em);
    box-shadow: none;
  }
}

/* Responsive */
@media (min-width: 1280px) {
  .game-board {
    cursor: pointer;

    .game-board__cell:not(.game-board__cell--revealed):hover {
      background-color: var(--cell-hover-bg-color);
    }
  }

  .modal .modal__btn--play-again {
    cursor: pointer;
  }
}